// 2

.task-7-2 {
  &__result {
    margin-top: 12px;
    padding: 0 6px;

    line-height: 1.5em;
    word-wrap: break-word;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  input[type=range] {
    margin: 6px 0;
  }

  span,
  label {
    width: 55px;

    text-align: center;
  }
}
