include ../../templates/task.pug

+task('task-1', 'Task 1 - Factorial')
  input.task-1__textbox(type='number', placeholder='number')
  button.task-1__btn(type='button') calc
  input.task-1__result(type='number', placeholder='result', readonly)
