include ../../templates/task.pug

- const t2_config = { type: 'range', step: 1, min: 0 }

+task('task-2', 'Task 2 - Range numbers')
  .task-2__input
    input.task-2__range-min()&attributes(t2_config)
    label.task-2__label-min
  .task-2__input
    input.task-2__range-max()&attributes(t2_config)
    label.task-2__label-max
  button.task-2__btn-asc(type='button') ascending
  button.task-2__btn-desc(type='button') descending
  .task-2__result result
