include ../../templates/task.pug

+task('task-3', 'Task 3 - Reverse')
  input.task-3__textbox(type='number', placeholder='number')
  button.task-3__btn(type='button') reverse
  input.task-3__result(type='text', placeholder='result', readonly)
