include ../../templates/task.pug

+task('task-4', 'Task 4 - Sum of digits')
  input.task-4__textbox(type='number', placeholder='number')
  button.task-4__btn(type='button') calc
  input.task-4__result(type='number', placeholder='result', readonly)
