include ../../templates/task.pug

+task('task-7-5', 'Task 5 - Brackets')
  input.task-7-5__textbox(type='number', placeholder='number')
  button.task-7-5__btn(type='button') calc
  input.task-7-5__result(type='text', placeholder='result', readonly)
