include ../templates/task.pug

+task('task-8-rpb', 'Race progress bars')
  input.task-8-rpb__textbox(type='number', placeholder='count')
  button.task-8-rpb__btn(type='button') start
  templete.task-8-rpb__racer--tmp
    progress.task-8-rpb__racer(max='1000', value='0')
